/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: #d4f806; 
    font-size: 1em;
    font-family: verdana;
    padding: 0%;
    margin: 0%;
}
.page {}

.entete{
    background-color: #9a5ceb;
    padding: 10px;
}
.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: gold;
}
.colonne_contenu {
    background-color: rgb(99, 172, 32);
    padding: 10px;
}
.pieddepage{
    background-color: #924040;
    color: #36ad11;
    text-align: center;
    line-height: 3.1em;
}
.titre_du_site {
    font-size: 2em;
    color: #ffffff
}
.notre_slogan{
    font-size: 1.5em;
    color: #c2bdbd;
    font-style: italic;
}
h1 {
    background-color: #924040;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid black;
}
h2 {
    color: #0e4863;
    font-size: 1.5em;
    margin: 20px;
    font-variant: small-caps;
}

strong {
    color:#bb1b1b;
    font-weight: 100;
}

em {
    color: #ffffff;
}

.introduction {
    font-style: italic;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

a {
    font-weight: bold;
}
a:hover {
    color : red;
    text-decoration: none;
}
.colonnes,.colonne_menu {
    background-color: white;
}
.colonne_menu ul {
    margin: 0px;
    padding: 0px;
}
.colonne_menu li {
    list-style-type: none;
    background-color: #173ff3;
    margin: 5px;
    text-align: center;
}
.colonne_menu li:hover {
    background-color: #881bbb;
}

.colonne_menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 5px;
}
